.liked-animation {
  animation: scale-up 0.4s ease-in-out forwards;
}

.unliked-animation {
  animation: scale-down 0.4s ease-in-out forwards;
}

.send-animation {
  animation: go-out 0.6s ;
}
@keyframes scale-up {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.5);
  }
  66% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale-down {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.5);
  }
  66% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes go-out {
  0% {
    transform: translateX(0px) rotate(45deg);
  }
  50% {
    transform: translateX(-10px) rotate(45deg);
  }
  100% {
    transform: translateX(50px) rotate(45deg);
  }
}


