@keyframes like {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .liked-animation {
    animation: like 0.3s ease-in-out;
  }