/* #root {
  @apply max-w-screen-xl mx-auto p-8 text-center;
}

.logo {
  @apply h-24 p-6 transition-filter duration-300;
}
.logo:hover {
  @apply filter drop-shadow-lg;
}
.logo.react:hover {
  @apply filter drop-shadow-lg text-blue-500;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  @apply p-8;
}

.read-the-docs {
  @apply text-gray-500;
} */

.highlight {
  @apply bg-gray-50 opacity-20 transition-colors duration-1000 ease-in-out;
}

@keyframes fade-in-out {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.highlight {
  animation: fade-in-out 2s forwards;
}
